{% extends "base.html" %} {% block content %}
<h1>{{_('Hi, User!')}}</h1>
<div>
  <p>
    {{_('I promise you that there will be ')}}<b>{{_('cake')}}</b>{{_(' at the
    end of this article, so keep on reading!')}}
  </p>
</div>
{% endblock %}
