{% extends "base.html" %} {% block content %}
<h1>{{_('Hello' )}}, {{ user.username }}!</h1>
{% for post in posts %}
<div>
  <p>{{ post.author.username }} {{_('says:')}} <b>{{ post.body }}</b></p>
</div>
{% endfor %} {% endblock %}
