/* Color definitions */
:root {
  --primaryColor: #c4b6b6;
  --primaryColorVariant: #f1d7d7;
  --secondaryColor: #3a0505;
  --secondaryVariant: #530404;
}

/* General settings */
html,
body {
  line-height: 1.6;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-size: 18px;
  max-width: 1000px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* navigation bar (desktop) */
nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--secondaryColor);
}

nav ul li {
  list-style-type: none;
  padding: 0.2em 1em;
  border: 1px dashed var(--primaryColorVariant);
  width: 100%;
  text-align: center;
}

nav ul li:hover {
  background-color: var(--secondaryVariant);
}

nav ul li a {
  color: var(--primaryColor);
}

#header a {
  font-size: 4rem;
  color: var(--secondaryColor);
}

/* responsive navigation bar */
@media all and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
  #header a {
    font-size: 3rem;
  }
}
