<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>{{_( 'Welcome to Microblog' )}}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header id="header">
      <a href="{{ url_for('multilingual.index')}}">{{_('Flask Playground')}}</a>
    </header>
    <nav id="menu">
      <ul>
        <li>
          <a href="{{ url_for('multilingual.index') }}">{{_( 'Home' )}}</a>
        </li>
        <li>
          <a href="{{ url_for('multilingual.cake') }}">{{_( 'Cake' )}}</a>
        </li>
        <li>
          <a href="{{ url_for('multilingual.login') }}">{{_( 'Login' )}}</a>
        </li>
      </ul>
      <div id="languages">
        <ul>
          <li>
            <a href="{{ url_for(request.endpoint, lang_code='en') }}">en</a>
          </li>
          <li>
            <a href="{{ url_for(request.endpoint, lang_code='de') }}">de</a>
          </li>
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %} {% endblock %}
  </body>
</html>
